numpy
frozendict
manifold3d
dataclasses_json
debugpy
dill
sortedcontainers
sortedcollections
graphviz
Pillow
matplotlib
svgelements
svgpathtools
lxml
numpy-stl
datatrees
xdatatrees
anchorscad-utils
anchorscad-linear
pythonopenscad
anchorscad-test-tools
to_3mf
matplotlib
